# Variables de entorno - ¡NUNCA subir a Git!
.env

# Dependencias
/node_modules

# Archivos de sesión de WhatsApp - ¡MUY IMPORTANTE no subir!
wschatbot-session/
/.wwebjs_cache/
/src/data/.wwebjs_auth/
!/src/data/.wwebjs_auth/.gitkeep

# Archivos generados por el bot en tiempo de ejecución
# Movidos a src/data y gestionados desde allí.

# Ignorar contenido de carpetas de datos pero rastrear la carpeta
src/data/conversations/*
!src/data/conversations/.gitkeep
src/data/logs/*
!src/data/logs/.gitkeep
src/data/product_images/*
!src/data/product_images/.gitkeep

# Ignorar archivos de datos específicos en la carpeta data
src/data/TablaProductos.xlsx
src/data/bcv_cache.json
src/data/bot_stats.json
src/data/client_data.json
src/data/vendedores.json

# Archivos de sistema operativo y editores
.DS_Store
.vscode/